
.product-item{

    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.mybox{

    border : 1px solid black;
    height: 60vh;

}
.prodimg{

    height:20vh;
    width:30vw;
}